CREATE TABLE FACULTY
  (
   FACULTY      VARCHAR(30)      NOT NULL,
   FACULTY_NAME VARCHAR2(80), 
   CONSTRAINT PK_FACULTY PRIMARY KEY(FACULTY) 
  );
--drop table faculty;
insert into FACULTY   (FACULTY,   FACULTY_NAME )
 values  ('ИДиП',   'Издателькое дело и полиграфия');
insert into FACULTY   (FACULTY,   FACULTY_NAME )
values  ('ХТиТ',   'Химическая технология и техника');
insert into FACULTY   (FACULTY,   FACULTY_NAME )
values  ('ЛХФ',     'Лесохозяйственный факультет');

--------------------------------------------------------------------------------------------
 --DROP TABLE PULPIT;
CREATE TABLE PULPIT 
(
 PULPIT       VARCHAR(30)      NOT NULL,
 PULPIT_NAME  VARCHAR2(100) NOT NULL UNIQUE, 
 FACULTY      VARCHAR(40)      NOT NULL, 
 CONSTRAINT FK_PULPIT_FACULTY FOREIGN KEY(FACULTY)   REFERENCES FACULTY(FACULTY), 
 CONSTRAINT PK_PULPIT PRIMARY KEY(PULPIT) 
 ); 
 

insert into PULPIT   (PULPIT,    PULPIT_NAME,FACULTY )
 values  ('ИСиТ',    'Иформационный систем и технологий ','ФИТ'  );
insert into PULPIT   (PULPIT,    PULPIT_NAME,FACULTY )
 values  ('ПОиСОИ', 'Полиграфического обработки информации ', 'ИДиП'  );
insert into PULPIT   (PULPIT,    PULPIT_NAME,FACULTY)
  values  ('ЛВ',      'Лесоводства', 'ЛХФ') ;
------------------------------------------------------------------------------------------------------------------------        - DROP  TABLE TEACHER
CREATE TABLE TEACHER
 ( 
  TEACHER       VARCHAR(40) NOT  NULL,
  TEACHER_NAME  VARCHAR2(70), 
  PULPIT        VARCHAR(40) NOT NULL, 
  PULPIT_NAME   VARCHAR2(100),
  BIRTHDAY      DATE,
  SALARY        NUMBER(5),
  CONSTRAINT PK_TEACHER  PRIMARY KEY(TEACHER), 
  CONSTRAINT FK_TEACHER_PULPIT FOREIGN   KEY(PULPIT)   REFERENCES PULPIT(PULPIT),
  CONSTRAINT FK_TEACHER_PULPIT_NAME FOREIGN   KEY(PULPIT_NAME)   REFERENCES PULPIT(PULPIT_NAME)
 ) ;

alter session set nls_date_format = 'DD-MM-YYYY';

insert into  TEACHER    (TEACHER,   TEACHER_NAME, PULPIT, PULPIT_NAME,BIRTHDAY,SALARY)
values  ('СМЛВ',    'Смелов Владимир Владиславович',  'ИСиТ', 'Иформационный систем и технологий ','02-01-1990',1000);
insert into  TEACHER    (TEACHER,   TEACHER_NAME, PULPIT, PULPIT_NAME,BIRTHDAY,SALARY)
values  ('АКНВЧ',    'Акунович Станислав Иванович',  'ИСиТ', 'Иформационный систем и технологий ','04.07.1961',600);
insert into  TEACHER    (TEACHER,   TEACHER_NAME, PULPIT, PULPIT_NAME,BIRTHDAY,SALARY)
values  ('КЛСНВ',    'Колесников Леонид Валерьевич', 'ИСиТ','Иформационный систем и технологий ','05.08.1955',500);
---------------------------------------------------------------------------------------------------------------------
CREATE TABLE SUBJECT
    (
     SUBJECT      VARCHAR(40)     NOT NULL, 
     SUBJECT_NAME VARCHAR2(70)  NOT NULL,
     PULPIT       VARCHAR(40)     NOT NULL,  
     CONSTRAINT PK_SUBJECT PRIMARY KEY(SUBJECT),
     CONSTRAINT FK_SUBJECT_PULPIT FOREIGN  KEY(PULPIT)  REFERENCES PULPIT(PULPIT)
    );

--drop table subject;
insert into SUBJECT   (SUBJECT,   SUBJECT_NAME,        PULPIT )
values ('СУБД',   'Системы управления базами данных',       'ИСиТ');
insert into SUBJECT   (SUBJECT,   SUBJECT_NAME,        PULPIT)
values ('БД',     'Базы данных',   'ИСиТ');
insert into SUBJECT   (SUBJECT,   SUBJECT_NAME,        PULPIT )
values ('ИНФ',    'Информацтонные технологии', 'ИСиТ');
---------------------------------------------------------------------------------------------------------------------
--DROP TABLE AUDITORIUM_TYPE ;
create table AUDITORIUM_TYPE 
(
  AUDITORIUM_TYPE   varchar(30) constraint AUDITORIUM_TYPE_PK  primary key,  
  AUDITORIUM_TYPENAME  varchar2(50) constraint AUDITORIUM_TYPENAME_NOT_NULL not null
);

--delete AUDITORIUM_TYPE;
insert into AUDITORIUM_TYPE   (AUDITORIUM_TYPE,   AUDITORIUM_TYPENAME )
values  ('ЛК',   'Лекционная');
insert into AUDITORIUM_TYPE   (AUDITORIUM_TYPE,   AUDITORIUM_TYPENAME )
values  ('ЛБ-К',   'Компьютерный класс');
insert into AUDITORIUM_TYPE   (AUDITORIUM_TYPE,   AUDITORIUM_TYPENAME )
values  ('ЛК-К', 'Лекционная с компьютерами');
---------------------------------------------------------------------------------------------------------------------

create table AUDITORIUM 
(
 AUDITORIUM  varchar(40) primary key,  -- код аудитории
 AUDITORIUM_NAME      varchar2(200), -- аудитория 
 AUDITORIUM_CAPACITY  number(4),  -- вместимость
 AUDITORIUM_TYPE      varchar(40) not null      -- тип аудитории
 references AUDITORIUM_TYPE(AUDITORIUM_TYPE)  
);

--drop table AUDITORIUM;
insert into  AUDITORIUM   (AUDITORIUM,   AUDITORIUM_NAME, AUDITORIUM_TYPE, AUDITORIUM_CAPACITY )
values  ('206-1',   '206-1', 'ЛБ-К', 15);
insert into  AUDITORIUM   (AUDITORIUM,   AUDITORIUM_NAME, AUDITORIUM_TYPE, AUDITORIUM_CAPACITY)
values  ('301-1',   '301-1', 'ЛБ-К', 15);
insert into  AUDITORIUM   (AUDITORIUM,   AUDITORIUM_NAME, AUDITORIUM_TYPE, AUDITORIUM_CAPACITY )
values  ('236-1',   '236-1', 'ЛК',   60);
-------------------------------------------------------------------------------------------------------------------------------------------------

drop table AUDITORIUM_TYPE;
drop table FACULTY;
drop table AUDITORIUM;
drop table PULPIT;
drop table TEACHER;
drop table SUBJECT;

SELECT * FROM AUDITORIUM;
SELECT * FROM TEACHER;
SELECT * FROM AUDITORIUM_TYPE;
SELECT * FROM SUBJECT;
SELECT * FROM FACULTY;
SELECT * FROM PULPIT;


 
 
