--            TASK 1
CREATE DATABASE LINK ANOTHERDB 
   CONNECT TO KAA
   IDENTIFIED BY "1234"
   USING 'orcl';

ALTER SESSION CLOSE DATABASE LINK ANOTHERDB;
DROP DATABASE LINK ANOTHERDB;

--            TASK 2
SELECT * FROM lab18@ANOTHERDB;
INSERT INTO lab18@ANOTHERDB values(21,'123','01.01.2002');
DELETE lab18@ANOTHERDB where id='21';

--            TASK 3
CREATE PUBLIC DATABASE LINK ANOTHERDB_PUBLIC 
   CONNECT TO KAA
   IDENTIFIED BY "1234"
   USING 'orcl';

ALTER SESSION CLOSE DATABASE LINK ANOTHERDB_PUBLIC;
DROP PUBLIC DATABASE LINK ANOTHERDB_PUBLIC;


--            TASK 4

SELECT * FROM teacher@ANOTHERDB_PUBLIC;
INSERT INTO lab18@ANOTHERDB_PUBLIC values(21,'123','01.01.2002');
DELETE lab18@ANOTHERDB_PUBLIC where id='21';
